uploads/*.asc
uploads/03249f1c_cropped_AEW34_G.las
uploads/1a934ed3_56ace00e_ann_wytham_winter_81.ply
uploads/3394be4a_c69aa13e_9610af44_56ace00e_ann_wytham_winter_9231.ply
uploads/9610af44_56ace00e_ann_wytham_winter_9231.ply
uploads/aeed13ab_cropped_AEW34_G.las
uploads/b8df1923_cropped_AEW34_G.las
uploads/c69aa13e_9610af44_56ace00e_ann_wytham_winter_9231.ply
uploads/clicks/cropped_AEW34_G.las.json
uploads/clicks/wytham_woods_Experimental.asc.json
uploads/f8a2bc41_cropped_AEW34_G.las
uploads/clicks/wytham_woods_Experimental.asc.json
uploads/.DS_Store
uploads/clicks/wytham_woods_Experimental.asc.json
.DS_Store
/venv
__pycache__/app.cpython-312.pyc
uploads/3646e154_ann_56ace00e_ann_wytham_winter_1019.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_1108.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_1129.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_1254.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_1268a.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_1268b.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_1296.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_1312.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_1317.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_1344.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_1366.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_1427.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_1466.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_1482.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_1484.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_1551.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_1581a.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_1581b.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_1593a.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_1593c.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_1593d.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_1623.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_1824.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_1832.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_1861a.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_1861b.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_1914.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_1920.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_2006a.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_2006b.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_201a.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_201b.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_2057a.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_2057b.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_206.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_2193.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_2225.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_387a.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_387b.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_425.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_439.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_442.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_450.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_488a.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_488b.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_552.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_568.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_5a.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_5b.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_606.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_702.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_795.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_81.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_8156.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_8157.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_8158.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_8162.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_8164.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_8165.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_8167.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_8168.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_8169a.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_8169b.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_8170.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_8171.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_8172a.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_8172c.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_8172d.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_8172f.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_8174.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_8179.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_817a.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_817b.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_8180.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_8190.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_8191.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_8193.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_8198.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_8201.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_8219.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_8223.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_853.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_9230.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_9231.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_930.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_931.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_940.ply
uploads/3646e154_ann_56ace00e_ann_wytham_winter_990.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_1019.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_1108.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_1129.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_1254.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_1268a.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_1268b.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_1296.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_1312.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_1317.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_1344.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_1366.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_1427.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_1466.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_1482.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_1484.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_1551.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_1581a.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_1581b.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_1593a.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_1593c.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_1593d.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_1623.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_1824.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_1832.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_1861a.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_1861b.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_1914.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_1920.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_2006a.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_2006b.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_201a.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_201b.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_2057a.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_2057b.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_206.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_2193.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_2225.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_387a.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_387b.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_425.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_439.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_442.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_450.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_488a.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_488b.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_552.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_568.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_5a.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_5b.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_606.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_702.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_795.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_81.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_8156.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_8157.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_8158.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_8162.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_8164.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_8165.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_8167.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_8168.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_8169a.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_8169b.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_8170.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_8171.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_8172a.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_8172c.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_8172d.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_8172f.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_8174.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_8179.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_817a.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_817b.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_8180.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_8190.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_8191.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_8193.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_8198.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_8201.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_8219.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_8223.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_853.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_9230.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_9231.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_930.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_931.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_940.ply
uploads/7ba40161_ann_56ace00e_ann_wytham_winter_990.ply
uploads/clicks/wytham_woods_Experimental.asc.json
uploads/clicks/wytham_woods_Experimental.asc.json
uploads/clicks/wytham_woods_Experimental.asc.json
