uploads/*.asc
uploads/03249f1c_cropped_AEW34_G.las
uploads/1a934ed3_56ace00e_ann_wytham_winter_81.ply
uploads/3394be4a_c69aa13e_9610af44_56ace00e_ann_wytham_winter_9231.ply
uploads/9610af44_56ace00e_ann_wytham_winter_9231.ply
uploads/aeed13ab_cropped_AEW34_G.las
uploads/b8df1923_cropped_AEW34_G.las
uploads/c69aa13e_9610af44_56ace00e_ann_wytham_winter_9231.ply
uploads/clicks/cropped_AEW34_G.las.json
uploads/clicks/wytham_woods_Experimental.asc.json
uploads/f8a2bc41_cropped_AEW34_G.las
uploads/clicks/wytham_woods_Experimental.asc.json
uploads/.DS_Store
uploads/clicks/wytham_woods_Experimental.asc.json
.DS_Store
/venv
